@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
  /* position: absolute; */
  width: 375px;
  height: 232px;
  left: 0px;
  top: 0px;

  background: #e3fff8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.ticket {
  position: relative;
  margin: auto;
}

.number {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 52px;
}

/*  Place in line component */
#placeInLine {
  display: flex;
  width: 375px;
  height: 232px;
  left: 0px;
  top: 0px;

  background: #e3fff8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}
